/*#preloader{	
    position: static;	
}
.page-background {	
    position: static;	
}
#mid {	
    position: static;
}
#footer{
    position: static;
}
#content-overlay{
    position: static;
}*/
.foot-items {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* SLIDER */
.slider-container {
    margin-top: 114px;
}
.left, .right {  
    
}
/* PAGE ACCUEIL */
#accueil .accueil-1 div div { display: inline-block; width: 29%; }
#accueil .accueil-1 div div.second { margin: 0 auto; border-left: 2px white solid; border-right: 2px white solid; }
#accueil .accueil-2 div div { display: inline-block; width: 29%; }
#accueil .accueil-2 div div.second { margin: 0 auto; border-left: 2px white solid; border-right: 2px white solid; }
#accueil .accueil-3 div div { display: inline-block; width: 29%; }
#accueil .accueil-3 div div.second { margin: 0 auto; border-left: 2px white solid; border-right: 2px white solid; }
/* SIDEBAR */
.left-sidebar, .right-sidebar  {
    
}
.left-sidebar .content-box{
	/*rtl:begin:ignore*/
	float: rigth;
	margin: 0;
	padding: 0;
        width: 69%;
	/*rtl:end:ignore*/
}
.right-sidebar .content-box{
	/*rtl:begin:ignore*/
	float: left;
	margin: 0;
	padding: 0;
        width: 69%;
	/*rtl:end:ignore*/
}
.left-sidebar #secondary{
    float:left;
}
.right-sidebar #secondary{
	margin-left: 7px;
}

@media only screen and (max-width: 818px) {
    #header .head .header-left .logo-container { padding: 0 0 10px; }
    .slider-container {
        margin-top: 163px;
    }
}

@media only screen and (max-width: 768px) { 
    .posts-list .layout-full.with-sidebar .content-box, 
    .posts-list .layout-full_fixed.with-sidebar .content-box, 
    .posts-list .layout-full_padding.with-sidebar .content-box {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
    .posts-list .whole-layout #mid #content #col-mask .content-box {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }    
    .posts-list #secondary {
        display: block;
        width: 100%;
    }
    #secondary .widget {
        display: inline-block;
        width: 48%;
        float: left;
        margin-right: 1%;
    }
    #secondary .widget:nth-child(even){
        margin-left: 3.9%;
    }
    #secondary .widget:nth-child(odd){
        clear: left;
    }
    .slider-container {
        margin-top: 163px;
    }
}

@media only screen and (max-width: 726px) {
    .slider-container {
        margin-top: 204px;
    }
}
@media only screen and (max-width: 600px) {
    .posts-list .layout-full.with-sidebar .content-box, 
    .posts-list .layout-full_fixed.with-sidebar .content-box, 
    .posts-list .layout-full_padding.with-sidebar .content-box {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
    .posts-list .whole-layout #mid #content #col-mask .content-box {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
    .posts-list #secondary {
        display: block;
        width: 100%;
    }
    #secondary .widget{
        display: inline-block;
        width: 48%;
        float: left;
        margin-right: 1%;
    }
    #secondary .widget:nth-child(even){
        margin-left: 3.9%;
    }
    #secondary .widget:nth-child(odd){
        clear: left;
    }
    .slider-container {
        margin-top: 163px;
    }
}

@media only screen and (max-width: 599px) {
    .slider-container {
        margin-top: 204px;
    }
}

@media only screen and (max-width: 480px) {
    .posts-list .layout-full.with-sidebar .content-box,
    .posts-list .layout-full_fixed.with-sidebar .content-box, 
    .posts-list .layout-full_padding.with-sidebar .content-box {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
    .posts-list .whole-layout #mid #content #col-mask .content-box {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
    .posts-list #secondary{
        display: block;
        width: 100%;
    }
    #secondary .widget{
        display: block;
        width: 100%;
        float: left;
    }
    #secondary .widget:nth-child(even){
        margin-left: 3.9%;
    }
    #secondary .widget:nth-child(odd){
        clear: left;
    }
}

@media only screen and (max-width: 400px) {
    .posts-list .layout-full.with-sidebar .content-box,
    .posts-list .layout-full_fixed.with-sidebar .content-box, 
    .posts-list .layout-full_padding.with-sidebar .content-box {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
    .posts-list .whole-layout #mid #content #col-mask .content-box {
        display: block;
        width: 100%;
        padding-bottom: 10px;
    } 
    .posts-list #secondary {
        display: block;
        width: 100%;
    }
    #secondary .widget {
        display: block;
        width: 100%;
        float: left;
    }
    #secondary .widget:nth-child(even){
        margin-left: 3.9%;
    }
    #secondary .widget:nth-child(odd){
        clear: left;
    }
}
@media only screen and (max-width: 295px) {
    .slider-container {
        margin-top: 245px;
    }
}
@media only screen and (max-width: 269px) {
    .slider-container {
        margin-top: 286px;
    }
}